.btn {
    background-color: #66BBFF;
    border-radius: 5px; 
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFCC99
}

.header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.flash-messages {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    color: #155724;
}
