<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Início</a></li>
                <li><a href="{{ url_for('profile', username=current_user.username) }}">Perfil</a></li>
                <li><a href="{{ url_for('cart') }}">Carrinho</a></li>
            </ul>
        </nav>
        <hr>
    </header>
    <h2>Visualizar Produto</h2>
    <p><strong>Nome:</strong> {{ product.name }}</p>
    <p><strong>Quantidade em Estoque:</strong> {{ product.quantity }}</p>
    <p><strong>Preço:</strong> {{ product.price }}</p>
    <p><strong>Descrição:</strong> {{ product.description }}</p>
    <p><strong>Ingredientes:</strong> {{ product.ingredients }}</p>

    <form method="post" action="{{ url_for('view_product', product_id=product.id) }}">
        <button type="submit" class="btn btn-primary">Adicionar ao carrinho</button>
    </form>
</body>
</html>